body{
    background-color: orange;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.restartButton{
    margin-top: 20px;
    background-color: rgb(3, 121, 121);
    color: white;
    border-radius: 20px;
    border: 0px;
    font-size: 60px;
    cursor: grab;
}


.result{
    font-size: 100px;
    margin-bottom: 10px;
    font-weight: bolder;
}


.turn{
    font-size: 40px;
    margin-bottom: 50px;
    font-weight: bolder;
}


.board{
    display: grid;
    grid-template-columns: 600px;
    grid-template-rows: 200px 200px 200px;
    grid-template-areas: 
    "row1"
    "row2"
    "row3";
    justify-content: center;
    border: 20px solid black;
}
.row1,.row2,.row3{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px;
}
.grid{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200px;
    border: 5px solid black;
    cursor: crosshair;
}